{% extends 'lab_staffs/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block labstaffcontent %}
<div class="container">
    <h1>New Lab Test Report</h1>
    <form method="POST" novalidate>
        {% csrf_token %}
        {% for i in createReportForm %}
            <div class="create Reprot form">
                <label class="form label">{{ i.label }}</label>
                <div class="detail label" style="position: relative;">{{ i }}</div>
            </div>
        {% endfor %}
        {{ createReportForm.errors }}
        <div class="col-md-2 col-md-offset-10">
        <input type="submit" value="submit" class="btn-primary">
        </div>
    </form>
</div>
{% endblock labstaffcontent %}
