{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body-content %}

<div class="container">
    <h1>Welcome to Dr. Yau's Clinic</h1>

    <div class="row my-5">

        <div class="col-md-3">
            <div class="content-section">
                <h3>Menu</h3>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_staffs:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_staffs:viewDiagnosis' %}">View diagonosis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_staffs:createReport' %}">Create Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_staffs:viewReport' %}">View Test Report</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            {% block labstaffcontent %}{% endblock labstaffcontent %}
        </div>

    </div>
</div>

    <script type="text/javascript" src="{% static 'doctors/script.js' %}"></script>
</body>

</html>


{% endblock body-content %}