{% extends 'lab_staffs/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block labstaffcontent %}
<h1>Update Lab Test Report</h1>
{% if updateReportForm %}
    <form method="POST" action="{% url 'lab_staffs:updateReport' dia_id%}">
        {% csrf_token %}

        <div class="row">
            <div class="col">
                {{ updateReportForm | crispy }}
            </div>
        </div>
        <br>
        <input name="submit" type="submit" class="btn btn-primary" value="Submit">
    </form>
{% endif %}
{% endblock labstaffcontent %}