{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Try view diagnosis</title>
</head>
{% block body-content %}
<body>

    {% if patientDiagnosis_list %}
                <table class="table">
                    <thead>
                    <th scope="col">Patient</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">lab_tests_recommended</th>
                    </thead>
                    <tbody>
                    {% for d in patientDiagnosis_list %}
                        <tr>
                            <td>{{ d.patient.user.first_name }} {{ d.patient.user.last_name }}</td>
                            <td>{{ d.doctor.user.first_name }} {{ d.doctor.user.last_name }}</td>
                            <td>{{ d.lab_tests_recommended }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>No Diagnosis found</h4>
            {% endif %}

</body>
{% endblock body-content %}
</html>