{% extends 'hospital_staffs/home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block patientcontent %}


<h4> Records: </h4>

<table class="table">
            <thead>
                <th scope="col">Record</th>
                <th scope="col">Amount</th>
                <th scope="col">Patient Id</th>
                <th scope="col">Diagnosis</th>
				<th scope="col">Approve</th>
            </thead>
            <tbody>
                {% for i in transactions %}
                <tr>
				
					<form id="myform{{ forloop.counter }}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="id" value={{i.id}} />
							<td>{{ forloop.counter}}</td>
							<td>{{ i.amount }}</td>
							<td>{{ i.patient }}</td>
							<td>{{ i.diagnosis}}</td>
							<td><a href="{% url 'hospitalstaff-approveTransaction'}" onclick="document.forms[{{ forloop.counter0 }}].submit();return false;">Approve</a></td>
					  </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>





{% endblock patientcontent %}