{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block body-content %}
<form action="" method="get">
	{% csrf_token %}
	{{ form}}
	<input type="submit">
	
</form>

<h4> Prescriptions: </h4>
{% for i in prescription %}

<ul class="list-group">
                      <li class="list-group-item list-group-item-light">{{ i }}</li>
</ul>
{% endfor %}

<br>
<h4> Diagnosis: </h4>
{% for j in diagnosis %}
<ul class="list-group">
                      <li class="list-group-item list-group-item-light">{{ j }}</li>
</ul>
{% endfor %}

{% endblock body-content %}