{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block body-content %}

    {% if page == 'staff' %}
        <div>
            <div class="content-section">
                <form id="loginform" method="POST" action="">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Staff Log In</legend>
                        <div class="row my-2">
                            <div class="col">
                                <!-- <label>Select Staff Type</label> -->
                                <label>
                                    <select name="staff" class="form-select" onchange="testing(value)">
                                        <option value="">Select Staff Type</option>
                                        <option value="hospital_staff">Hospital Staff</option>
                                        <option value="doctor">Doctor</option>
                                        <option value="lab_staff">Lab Staff</option>
                                        <option value="insurance_staff">Insurance Staff</option>
                                        <option value="administrator">Administrator</option>
                                    </select>
                                </label>
                            </div>
                        </div>

                        <div id="inputboxes" style="display: none;">
                            <div class="row my-2">
                                <div class="col-4">
                                    <!-- <label>Username:</label> -->
                                    <label>
                                        <input class="form-control" type="text" name="username" id="username"
                                               placeholder="Enter Username" required/>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <!-- <label>Password:</label> -->
                                    <label>
                                        <input class="form-control" type="password" name="password"
                                               placeholder="Enter Password"
                                               required/>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-group">
                        <button id="submitbutton" class="btn btn-primary my-2" type="submit">Login</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">Create An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up
                        Now</a></small>
                </div>
            </div>
            <script type="text/javascript">
                function testing(value) {
                    if (value !== '') {
                        document.getElementById('inputboxes').style.display = "block";
                    } else {
                        document.getElementById('inputboxes').style.display = "none";
                    }
                }

                document.getElementById('loginform').addEventListener('change', function (event) {
                    document.getElementById("submitbutton").disabled = document.getElementById('loginform').validate();
                });
            </script>
        </div>
    {% else %}
        <div class="content-section">
            <form method="POST" action="">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Patient Log In</legend>
                    <div class="row my-3">
                        <div class="col-4">
                            <label>Username:</label>
                            <label>
                                <input class="form-control" type="text" name="username" placeholder="Enter Username"/>
                            </label>
                        </div>
                        <div class="col-4">
                            <label>Password:</label>
                            <label>
                                <input class="form-control" type="password" name="password"
                                    placeholder="Enter Password" />
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">Create An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up
                    Now</a></small>
            </div>
        </div>
    {% endif %}



{% endblock body-content %}
