{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block body-content %}
<div class="content-section">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Patient Log In</legend>
            <div class="row my-3">
                <div class="col-4">
                    <label>Username:</label>
                    <label>
                        <input class="form-control" type="text" name="username" placeholder="Enter Username" />
                    </label>
                </div>
                <div class="col-4">
                    <label>Password:</label>
                    <label>
                        <input class="form-control" type="password" name="password" placeholder="Enter Password" />
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Create An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up
                Now</a></small>
    </div>
</div>

{% endblock body-content %}