{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block body-content %}

    <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create account</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already Have An Account? <a class="ml-2" href="{% url 'login-user' usertype='patient' %}">Sign In</a></small>
        </div>
    </div>


{% endblock body-content %}