{% extends 'doctors/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block doctorcontent %}


<div class="row my-3">
    <div class="col">
        {% if appointments %}
        <table class="table">
            <thead>
                <!-- <th scope="col">S.No.</th> -->
                <th scope="col">Status</th>
                <th scope="col">Description</th>
                <th scope="col">Patient</th>
                <th scope="col">Scheduled Date</th>
            </thead>
            <tbody>
                {% for app in appointments %}
                <tr>
                    <td>{{ app.status }}</td>
                    <td>{{ app.appointment_details }}</td>
                    <td>{{ app.patient.user.username }}</td>
                    <td>{{ app.scheduled_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4>No Appointments found!</h4>
        {% endif %}

    </div>
</div>

{% endblock doctorcontent %}