{% extends 'patients/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block patientcontent %}


<div class="container">

    <h2>Home</h2>
    {% for appointment in appointments %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ appointment.doctor }}</a>
                <small class="text-muted">{{ appointment.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ appointment.title }}</a></h2>
            <p class="article-content">{{ appointment.description }}</p>
        </div>
    </article>
    {% endfor %}

</div>


{% endblock patientcontent %}
