{% extends 'main.html' %}

{% block body-content %}

    <div>
        <h2>Book New Appointments here:</h2>

        <form method="POST" action="{% url 'hospital-request-apt' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Appointment</legend>
                {{ appointment_form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <h2>Upcoming Appointments:</h2>
        {% for appointment in appointments %}
            <div>
                <h3>Appointment</h3>
                <ul>
                    <li>Doctor: {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</li>
                    <li>Scheduled Date: {{ appointment.scheduled_date }}</li>
                    <li>Appointment Status: {{ appointment.status }}</li>
                    <li>Details: {{ appointment.appointment_details }}</li>
                </ul>
            </div>

        {% endfor %}
    </div>
    <div>
        <h2></h2>
    </div>

{% endblock body-content %}


{% block sidebar-content %}
    <p class='text-muted'>Patient Details</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="#">Personal Records</a></li>
        <li class="list-group-item list-group-item-light"><a href="#">Diagnosis</a></li>
        <li class="list-group-item list-group-item-light"><a href="#">Prescriptions</a></li>
        <li class="list-group-item list-group-item-light"><a href="#">Lab-Test Reports</a></li>
        <li class="list-group-item list-group-item-light"><a href="#">Medical Insurance</a></li>
        <li class="list-group-item list-group-item-light"><a href="#">Payments and Transactions</a></li>
    </ul>
{% endblock sidebar-content %}