{% extends 'patients/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block patientcontent %}

    <div class="row mb-3">
        <div class="col">
            <h2>Lab Test Reports</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            {% if lab_tests %}
                <table class="table">
                    <thead>
                    <th scope="col">Recommended by (Doctor)</th>
                    <th scope="col">Test Type</th>
                    <th scope="col">Test Report</th>
                    <th scope="col">Date</th>
                    </thead>
                    <tbody>
                    {% for lt in lab_tests %}
                        <tr>
                            <td>{{ lt.doctor.user.first_name }} {{ lt.doctor.user.last_name }}</td>
                            <td>{{ lt.test_type }}</td>
                            <td>{{ lt.lab_test_report }}</td>
                            <td>{{ lt.created }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>No Reports found</h4>
            {% endif %}

        </div>
    </div>

{% endblock patientcontent %}