{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body-content %}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'patients/styles.css' %}">
        <title>Document</title>
    </head>

    <body>

    <div class="container">
        <div class="row my-5">

            <div class="col-md-3">
                <div class="content-section">
                    <h3>Menu</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'patients:appointments' %}">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'patients:diagnosis' %}">Diagnosis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'patients:prescriptions' %}">Prescriptions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'patients:lab-test-reports' %}">Lab Test Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'patients:insurance' %}">Insurance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'patients:transactions' %}">Transactions</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                {% block patientcontent %}{% endblock patientcontent %}
            </div>

        </div>
    </div>


    <script type="text/javascript" src="{% static 'patients/script.js' %}"></script>
    </body>

    </html>


{% endblock body-content %}