{% extends 'patients/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block patientcontent %}

    <div class="row mb-3">
        <div class="col">
            <h2>Prescriptions</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            {% if diagnosis_list %}
                <table class="table">
                    <thead>
                    <th scope="col">Prescription</th>
                    <th scope="col">Prescribed By</th>
                    <th scope="col">Date</th>
                    </thead>
                    <tbody>
                    {% for d in diagnosis_list %}
                        <tr>
                            <td>{{ d.prescription }}</td>
                            <td>Dr. {{ d.doctor.user.username }}</td>
                            <td>{{ d.created }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>No Diagnosis found</h4>
            {% endif %}

        </div>
    </div>

{% endblock patientcontent %}