{% extends 'patients/main.html' %}
{% load crispy_forms_tags %}

{% block patientcontent %}

    <div class="content-section">
        <!-- FORM HERE -->
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ i_form|crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update Profile</button>
            </div>
        </form>
    </div>

{% endblock patientcontent %}
