{% extends 'patients/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block patientcontent %}

    <div class="row mb-3">
        <div class="col">
            <h2>Transactions</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            {% if transactions %}
                <table class="table">
                    <thead>
                    <th scope="col">Diagnosis Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment complete</th>
                    <th scope="col">Final Status</th>
                    </thead>
                    <tbody>
                    {% for t in transactions %}
                        {% if t.completed == None %}
                            <tr class="table-warning">
                        {% elif t.approved %}
                            <tr class="table-success">
                        {% elif not t.completed %}
                            <tr class="table-danger">
                        {% endif %}
                            <td>{{ t.diagnosis.appointment.scheduled_date }}</td>
                            <td>{{ t.diagnosis.amount }}</td>
                            <td>{{ t.approved|yesno:"Yes,No,Due" }}</td>
                            <td>{{ t.completed|yesno:"Completed,Incomplete,---" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>No Transaction Records found</h4>
            {% endif %}

        </div>
    </div>

{% endblock patientcontent %}